@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-colour-bg-light: #edf2f7;
  --default-colour-fg-light: #2d3748;
  --default-colour-bg-dark: #2d3748;
  --default-colour-fg-dark: #edf2f7;
}

body {
  --colour-bg-light: #edf2f7;
  --colour-fg-light: #2d3748;

  --colour-bg-dark: #2d3748;
  --colour-fg-dark: #edf2f7;

  --bg-white-dark: #000000;
  --bg-white-light: #ffffff;

  --progress-buffered: 0%;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--colour-bg-light);
    color: var(--colour-fg-light);
    transition: background-color 0.2s ease;
  }

  .text-gray-800 {
    color: var(--default-colour-fg-light);
  }

  .bg-white {
    background-color: var(--bg-white-light);
  }
  .bg-gray-200 {
    background-color: var(--default-colour-bg-light);
  }
  .bg-yellow {
    background-color: #F6E05E;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--colour-bg-dark);
    color: var(--colour-fg-dark);
    transition: background-color 0.2s ease;
  }

  .text-gray-800 {
    color: var(--default-colour-fg-dark);
  }

  .bg-white {
    background-color: var(--bg-white-dark);
  }
  .bg-gray-200 {
    background-color: var(--default-colour-bg-dark);
  }
  .bg-yellow {
    background-color: #744210;
  }
}
